

.back{
    background: url("assets/back.webp");
    height: 520px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -580px;

}
.filter .formsearch{
    padding-top: 30px;
    width: 350px;
    margin: 0 auto;
}
.back form .inp{
    background-color: rgb(248, 238, 238);
}
.back .back-content{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 30%;
    // transform: translate(-50%, -50%);
    color: white;
}

.back .modal form{
    padding: 10px;
}
.back .back-content h2{
    font-size: 45px;
    font-weight: 500;
    color: rgb(64, 64, 65);
    text-transform: uppercase;
}
.back .mod-btn{
    margin-top: 50px;
    background-color: #fac158;
    color: black;
    font-weight: 600;
}
.back .modal .modal-title{
    color: #e7a62c;
    margin-left: 140px;
    font-size: 1.2rem;
    font-weight: 500;
}
.back .modal .modal-body form label{
    color: black;
    font-weight: 600;
    float: left;
}
.back .modal .modal-footer{
    margin-right: 370px;
}
 table td{
    height: 70px;
    font-weight: 600;
    padding-top: 20px;
 }
