<app-header></app-header>

<div class="back-img">
  <img src="assets/clg2.jpg" alt="">
  <div class="back-text">
    <h1>College Management System</h1>
    <button mat-raised-button color="accent" routerLink="/student">Register Now</button>

  </div>
</div>

<div class="container-fluid">
  <div class="row card-items">
    <div class="col-lg-3">
      <div class="card" style="width: 18rem; ">
        <img src="assets/images.png" class="card-img-top" alt="..." height="280">
        <div class="card-body">
          <h3 class="card-title">Our Students</h3>
          <p class="card-text">confirmation of the admission of the student to the specified year/semesters of the
            academic programme by the university.</p>
          <button mat-raised-button color="accent" routerLink="/student">Register Now</button>

        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <img src="assets/te.jpg" class="card-img-top" alt="..." height="280">
        <div class="card-body">
          <h3 class="card-title">Our Teachers</h3>
          <p class="card-text">Registration is a mark of professional recognition as a teacher. It ensures that
            standards of entry to the profession are maintained.</p>
          <button mat-raised-button color="accent" routerLink="/teacher">Register Now</button>

        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <img src="assets/st2.png" class="card-img-top" alt="..." height="280">
        <div class="card-body">
          <h3 class="card-title">Our Staff</h3>
          <p class="card-text">This staff registration form collects applicants' information such as contact number,
            address , location ,state and resume.</p>
          <button mat-raised-button color="accent" routerLink="/staff">Register Now</button>

        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <img src="assets/exam.jpg" class="card-img-top" alt="..." height="280">
        <div class="card-body">
          <h3 class="card-title">Exam Schedule</h3>
          <p class="card-text">Exam time-table is a planned schedule for the examinations that specifies
            the subject, date and day of the examination.</p>
          <button mat-raised-button color="accent" routerLink="/exam">Register Now</button>

        </div>
      </div>
    </div>
  </div>
</div>
